.link{
    color: #4b4a4ae8;
    line-height: 30px !important;
}
.icon-type{
    width: 60px;
    height: 60px;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer, .seller{
    font-size: 26px;
    transition: 0.3s linear !important;
}
.title-choice{
    font-size: 20px;
    transition: 0.3s linear !important;
}
.choice{
    transition: 0.2s linear;
}
.choice:hover{
    transform: translateY(-3px);
    border: 2px solid #198754d7 !important;
    box-shadow: 0px 2px 2px 4px rgba(25,135,84,.15) !important;
}
.choice:hover .customer{
    color: #d97706;
}
.choice:hover .title-choice{
    color: #d97706;
}
.choice:hover .seller{
    color: #d97706;
}
@media (max-width:576px){
    .card-register{
        width: 100% !important;
    }
}
@media (min-width:576px){
    .card-register{
        width: 100% !important;
    }
}
@media (min-width: 768px){
    .card-register{
        width: 100% !important;
    }
}
@media (min-width:992px){
    .title{
        font-size:30px;
    }
    .card-register{
        width: 100% !important;
    }
}
@media (min-width:1200px){
    .title{
        font-size:38px;
    }
    .card-register{
        width: 75% !important;
    }
}